<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>New Music Page</h1>

    <p>Please fill out the form and submit to create a new music entry!</p>

    <form action="/music/create" method="POST">

        <label>Album Title:</label>
        <input type="text" name="album_title" placeholder="Album XYZ" value="Album XYZ">

        <label>Artist:</label>
        <select name="artist_name">
          <option value="A1">Artist 1</option>
          <option value="A2">Artist 2</option>
          <option value="A3">Artist 3</option>
        </select>

        <button>Submit</button>
    </form>

</body>
</html>